@media(max-width:451px){
    footer{
        background-color: #f5f6fa;
    }

    .footer-access{
        display: grid;
        grid-template-columns: repeat( 5 , 1fr);
    }

    .footer-access > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: iranSans;
        font-size: 1.3rem;
        color: rgb(64, 64, 64);
        padding:7px 0px 5px 0px;
        opacity: 0.7;
    }

    .footer-access > div.active{
        opacity: 1;
        transform: scale(1.07);
        transition: transform .3s ease;
    }
}