*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    direction: rtl;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

@font-face {
    font-family: iranSans;
    src: url(../public/fonts/IRANSans-Edit.ttf);
}

@font-face {
    font-family: inter;
    src: url(/fonts/inter.ttf);
}