.profile{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f5f6fa;
}

.profile .up-access-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
}

.profile .up-access-bar .big-profile-page-titel{
    font-family: iranSans;
    font-size: 2.2rem;
    color: #556080;
}

.profile .up-access-bar .faArrowLeft{
    font-size: 1.5rem;
    color: rgb(141, 141, 141);
}

.profile .container-profile-up-information {  
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .profile-up-information{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    width: 94vw;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;

    padding: 8px 10px;
    box-shadow: 0px 0px 10px 0px rgba(214, 214, 214, 0.664);
}

.profile .profile-up-information .profile-image-and-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .profile-up-information .profile-image-and-info .profile-image img{
    width: 37px;
}

.profile .profile-up-information .profile-image-and-info .profile-info{
    display: flex;
    flex-direction: column;
    font-family: iranSans;
    margin-right: 10px
}

.profile .profile-up-information .profile-image-and-info .profile-info .name-and-lastname{
    font-size: 1.3rem;
    margin: 3px 0px;
}

.profile .profile-up-information .profile-image-and-info .profile-info .number{
    color: rgb(71, 71, 71);
    margin-right: 2px;
}

.profile .profile-up-information .back-icon{
    font-size: 1.4rem;
    color: rgb(135, 135, 135);
}

.profile .profile-all-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.profile .profile-all-options .profile-setting-options{
    display: flex;
    flex-direction: column;

    background-color: white;
    width: 94vw;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;

    padding: 8px 10px;
    gap: 15px;

    box-shadow: 0px 0px 10px 0px rgba(214, 214, 214, 0.664);
}

.profile .profile-all-options .profile-setting-options .setting-titel{
    font-family: iranSans;
    font-size: 1.3rem;
    color: #7d7d7d;
    margin: 10px 0px 3px 0px;
}

.profile .profile-all-options .profile-general-options{
    display: flex;
    flex-direction: column;

    background-color: white;
    width: 94vw;

    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;

    padding: 8px 10px;
    gap: 15px;

    box-shadow: 0px 0px 10px 0px rgba(214, 214, 214, 0.664);
}

.profile .profile-all-options .profile-general-options .general-titel{
    font-family: iranSans;
    font-size: 1.3rem;
    color: #7d7d7d;
}

.profile .profile-all-options .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.profile .profile-all-options .options .icon-and-info-option{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: iranSans;
    gap: 12px;
}

.profile .profile-all-options .options .icon-and-info-option .icon-option{
    display: flex;
    align-items: center;
}

.profile .profile-all-options .options .icon-and-info-option .icon-option img{
    width: 20px;
}

.profile .profile-all-options .options .icon-and-info-option .info-option{
    color: rgb(71, 71, 71);
}

.profile .profile-all-options .options .icon-and-info-option .info-option h1{
    margin: 5px 0px;
    font-size: 1.4rem;
}

.profile .profile-all-options .options .back-icon{
    font-size: 1.4rem;
    color: rgb(135, 135, 135);
}

.profile .log-out-account{
    display: flex;
    justify-content: center;
}

.profile .log-out-account h1{
    text-align: center;

    font-size: 1.4rem;
    font-family: iranSans;


    color: rgb(240, 0, 0);
    background-color: white;

    width: 94vw;
    box-shadow: 0px 0px 10px 0px rgba(214, 214, 214, 0.664);

    border: 1px solid rgb(240, 240, 240);
    border-radius: 10px;

    padding: 8px 10px;
    margin-bottom: 20px;
}
